
.flex-container{
    display: flex;
    /* list-style: none; */
    border: 2px solid black;
    max-width: 450px;

}

.flex-container-height{
    display: flex;
    height: 150px;
    /* list-style: none; */
    border: 2px solid black;
    max-width: 450px;

}

.flex-item{
    height: 50%;
    font-size: 24px;
    color: white;
    text-align:center;
    min-width: 100px;
    line-height: 70px;

}

.margin-top{
    margin-top: 100px; 
}

.blue{
    background-color: blue;    
}

.lightgreen{
    background-color: lightgreen;    
}

.gray{
    background-color: gray;    
}


.nowrap-row{
   flex-flow: row nowrap;
}

.wrap-row{
    flex-flow: row wrap;
}

.wrap-reverse-row{
    flex-flow: row wrap-reverse;
}

.nowrap-column{
    flex-flow: column nowrap;
}

.wrap-column{
    flex-flow: column wrap;
}

.wrap-reverse-column{
    flex-flow: column wrap-reverse;
}

.wrap-column-reverse{
    flex-flow: column-reverse wrap;
}

.wrap-reverse-column-reverse{
    flex-flow: column-reverse wrap-reverse;
}