
.flex-container{
    display: flex;
    /* list-style: none; */
    border: 2px solid black;
    max-width: 750px;

}

.flex-container1{
    display: flex;
    /* list-style: none; */
    border: 2px solid black;
    width: 550px;
    height: 250px;

}

.flex-container-height{
    display: flex;
    height: 150px;
    /* list-style: none; */
    border: 2px solid black;
    max-width: 750px;

}

.flex-item{
    font-size: 24px;
    color: white;
    text-align:center;
    min-width: 50px;
    line-height: 30px;
    margin: 5px;
    border-radius: 2%;
    padding-inline:  5px;

}

.margin-top{
    margin-top: 50px; 
}

.blue{
    background-color: blue;    
}

.lightgreen{
    background-color: lightgreen;    
}

.gray{
    background-color: gray;    
}



.wrap-row{
    flex-flow: row wrap;
}

.wrap-reverse-row{
    flex-flow: row wrap-reverse;
}


.wrap-column{
    flex-flow: column wrap;
}

.wrap-reverse-column{
    flex-flow: column wrap-reverse;
}

.wrap-column-reverse{
    flex-flow: column-reverse wrap;
}

.wrap-reverse-column-reverse{
    flex-flow: column-reverse wrap-reverse;
}

.flex-start{
    justify-content: flex-start;
}

.flex-end{
    justify-content: flex-end;
}


.center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}