

.margin-top{
    margin-top: 50px; 
}

.blue{
    background-color: blue;    
}

.lightgreen{
    background-color: lightgreen;    
}

.gray{
    background-color: gray;    
}





.wrap-row{
    flex-flow: row wrap;
}

.wrap-reverse-row{
    flex-flow: row wrap-reverse;
}


.wrap-column{
    flex-flow: column wrap;
}

.wrap-reverse-column{
    flex-flow: column wrap-reverse;
}

.wrap-column-reverse{
    flex-flow: column-reverse wrap;
}

.wrap-reverse-column-reverse{
    flex-flow: column-reverse wrap-reverse;
}







.flex-start{
    justify-content: flex-start;
}

.flex-end{
    justify-content: flex-end;
}

.center{
    justify-content: center;
}

.center .flex-item-aling-items{
    flex: 0;
    padding: 20px;
}



.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}




.flex-container-aling-items{
    display: flex;
    /* list-style: none; */
    border: 1px solid black;
    max-width: 350px;
    min-height: 500px;

}


.flex-item-aling-items{
    background-color: rgb(9, 37, 195);
    color: white;
    text-align:center;
    margin: 5px;
    flex: 1;
    /* min-width: 80px; */
    
}

.flex{
    flex: 1;
}

.center-align-items{
    align-items: center;
}

.baseline-align-items{
    align-items:baseline;
}


.stretch-align-items{
    align-items:stretch;
}

.flex-start-align-items{
    align-items:flex-start;
}