

.margin-top{
    margin-top: 50px; 
}


.wrap-row{
    flex-flow: row wrap;
}

.wrap-reverse-row{
    flex-flow: row wrap-reverse;
}


.wrap-column{
    flex-flow: column wrap;
}

.wrap-reverse-column{
    flex-flow: column wrap-reverse;
}

.wrap-column-reverse{
    flex-flow: column-reverse wrap;
}

.wrap-reverse-column-reverse{
    flex-flow: column-reverse wrap-reverse;
}







.flex-start{
    justify-content: flex-start;
}

.flex-end{
    justify-content: flex-end;
}

.center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}




.flex-container{
    display: flex;
    border: 1px solid black;
    max-width: 300px;
    height: 400px;
    /* margin: 0 auto; */
    
}


.items{
    background-color: orangered;
    color: white;
    text-align:center;
    margin: 5px;
    flex: 1;
    padding: 0 auto;
    /* min-width: 80px; */
    
}

.flex{
    flex: 1;
}

.center-align-items{
    align-items: center;
}

.baseline-align-items{
    align-items:baseline;
}


.stretch-align-items{
    align-items:stretch;
}

.flex-start-align-items{
    align-items:flex-start;
}



.center-align-content{
    align-content: center;
}

.baseline-align-content{
    align-content:baseline;
}


.stretch-align-content{
    align-content:stretch;
}

.flex-start-align-content{
    align-content:flex-start;
}

.space-around-align-content{
    align-content:space-around;
}

.space-between-align-content{
    align-content: space-between;
}

